#app {
	min-height: 100vh;
	height: 100%;
}

*::-webkit-scrollbar {
	width: 8px;
	cursor: pointer;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #0d6efd;
	border: 1px none #ffffff;
}
